<style>
    .sale-graph {
        background: linear-gradient(99deg, #832e17 0%, #040403 100%);
        background-size: cover;
    }
</style>

<div class="layout-dashboard">
    <div class="p-grid">
        <div class="p-col-12 p-md-12 p-xl-8">
            <div class="p-grid">
                <div class="p-col-12">
                    <div class="card sale-graph">
                        <div class="card-header">
                            <div class="p-col-12 p-md-12 p-xl-10">
                                <div class="card news">
                                    <div class="news-content">
                                        <h5>What to expect? </h5>
                                        <span>On this website i will address the subject: Pablo.</span>
                                        <span>After all, who is Pablo? Well, you'd better be comfortable with your
                                            computer or cell phone because it's going to be a long trip.</span>
                                        <div class="news-content-footer">
                                            <span><span>May 23, 2022 </span>by <span class="category">Débora L. M.
                                                    Maciel</span></span>
                                            <span>Curitiba, Brazil</span>
                                        </div>
                                    </div>
                                    <div class="news-image"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-md-12 p-xl-4">
            <div class="p-grid">
                <div class="p-col-12 p-md-8 p-xl-12">
                    <div class="card traffic">
                        <div class="card-header">
                            <h6>Status</h6>
                        </div>
                        <p>(Rememberting the numbers are fictious, Pablo is 100% in everything he does :0 </p>
                        <div class="traffic-chart">
                            <p-chart #traffic type="doughnut" [data]="trafficChart" [options]="trafficOptions"
                                [responsive]="true" width="210px" height="210px"></p-chart>
                        </div>
                        <div id="traffic-tabs-container" class="traffic-tabs">
                            <div class="traffic-tab" [ngClass]="{'traffic-tab-active':activeTraffic===0}"
                                (click)="changeTrafficset($event); traffic.refresh()" data-label="New Sales"
                                data-index="0">
                                <h6>78%</h6>
                                <i class="pi pi-facebook"></i>
                                <span>Hot</span>
                            </div>
                            <div class="traffic-tab" [ngClass]="{'traffic-tab-active':activeTraffic===1}"
                                (click)="changeTrafficset($event); traffic.refresh()" data-label="New Sales"
                                data-index="1">
                                <h6>48%</h6>
                                <i class="pi pi-heart"></i>
                                <span>Loving</span>
                            </div>
                            <div class="traffic-tab" [ngClass]="{'traffic-tab-active':activeTraffic===2}"
                                (click)="changeTrafficset($event); traffic.refresh()" data-label="New Sales"
                                data-index="2">
                                <h6>48%</h6>
                                <i class="pi pi-question-circle"></i>
                                <span>Smart</span>
                            </div>
                            <div class="traffic-tab " [ngClass]="{'traffic-tab-active':activeTraffic===3}"
                                (click)="changeTrafficset($event); traffic.refresh()" data-label="Previous Sales"
                                data-index="3">
                                <h6>98%</h6>
                                <i class="pi pi-comments"></i>
                                <span>Communicative</span>
                            </div>
                            <div class="traffic-tab " [ngClass]="{'traffic-tab-active':activeTraffic===4}"
                                (click)="changeTrafficset($event); traffic.refresh()" data-label="Previous Sales"
                                data-index="4">
                                <h6>17%</h6>
                                <i class="pi pi-github"></i>
                                <span>Github</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-md-6 p-xl-4">
            <div class="card leaderboard">
                <div class="card-header">
                    <h6>Best Friends or something just like it </h6>
                </div>
                <ul>
                    <li>
                        <div class="person">
                            <img src="assets/layout/images/dashboard/debora.png" alt="poseidon-layout" />
                            <p>Débora Ferreira</p>
                        </div>
                        <div class="person-numbers">
                            <h6>$224.44</h6>
                            <i class="pi pi-arrow-up"></i>
                        </div>
                    </li>
                    <li>
                        <div class="person">
                            <img src="assets/layout/images/dashboard/leader-3.png" alt="poseidon-layout" />
                            <p>Matheus Lindholm</p>
                        </div>
                        <div class="person-numbers">
                            <h6>$86.05</h6>
                            <i class="pi pi-arrow-up"></i>
                        </div>
                    </li>
                    <li>
                        <div class="person">
                            <img src="assets/images/people/di.png" alt="poseidon-layout" />
                            <p>Diovana Hua</p>
                        </div>
                        <div class="person-numbers">
                            <h6>$59.44</h6>
                            <i class="pi pi-arrow-up"></i>
                        </div>
                    </li>
                    <li>
                        <div class="person">
                            <img src="assets/layout/images/dashboard/leader-4.png" alt="poseidon-layout" />
                            <p>Helo Illescas</p>
                        </div>
                        <div class="person-numbers">
                            <h6>$12.32</h6>
                            <i class="pi pi-arrow-up"></i>
                        </div>
                    </li>
                    <li>
                        <div class="person">
                            <img src="assets/layout/images/dashboard/avatar-dengra.png" alt="poseidon-layout" />
                            <p>Mari Dengra</p>
                        </div>
                        <div class="person-numbers">
                            <h6>$12.32</h6>
                            <i class="pi pi-arrow-up"></i>
                        </div>
                    </li>
                    <li>
                        <div class="person">
                            <img src="assets/layout/images/dashboard/avatar-conan.png" alt="poseidon-layout" />
                            <p>Conan Matusov</p>
                        </div>
                        <div class="person-numbers">
                            <h6>$12.32</h6>
                            <i class="pi pi-arrow-up"></i>
                        </div>
                    </li>
                    <li>
                        <div class="person">
                            <img src="assets/layout/images/dashboard/seller-1.png" alt="poseidon-layout" />
                            <p>Hector Mariano</p>
                        </div>
                        <div class="person-numbers">
                            <h6>$12.32</h6>
                            <i class="pi pi-arrow-up"></i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="p-col-12 p-md-6 p-xl-4">
            <div class="card product-list">
                <div class="card-header">
                    <h6>Product List</h6>
                </div>
                <ul>
                    <li>
                        <div class="product">
                            <img src="assets/layout/images/dashboard/image-product-1.png" alt="poseidon-layout" />
                            <div class="product-info">
                                <p>Nike Air X12</p>
                                <span>Sold <span>250</span> times</span>
                            </div>

                        </div>
                        <i class="pi pi-arrow-up"></i>
                    </li>
                    <li>
                        <div class="product">
                            <img src="assets/layout/images/dashboard/image-product-2.png" alt="poseidon-layout" />
                            <div class="product-info">
                                <p>Nike Sports Watch</p>
                                <span>Sold <span>189</span> times</span>
                            </div>

                        </div>
                        <i class="pi pi-arrow-up"></i>
                    </li>
                    <li>
                        <div class="product">
                            <img src="assets/layout/images/dashboard/image-product-3.png" alt="poseidon-layout" />
                            <div class="product-info">
                                <p>Heinz Yellow Mustard</p>
                                <span>Sold <span>24</span> times</span>
                            </div>

                        </div>
                        <i class="pi pi-arrow-up"></i>
                    </li>
                    <li>
                        <div class="product">
                            <img src="assets/layout/images/dashboard/image-product-4.png" alt="poseidon-layout" />
                            <div class="product-info">
                                <p>Beats Headphone</p>
                                <span>Sold <span>24</span> times</span>
                            </div>

                        </div>
                        <i class="pi pi-arrow-down down"></i>
                    </li>
                    <li>
                        <div class="product">
                            <img src="assets/layout/images/dashboard/image-product-5.png" alt="poseidon-layout" />
                            <div class="product-info">
                                <p>Black Racing Bike</p>
                                <span>Sold <span>24</span> times</span>
                            </div>

                        </div>
                        <i class="pi pi-arrow-up"></i>
                    </li>
                </ul>
            </div>
        </div>

        <div class="p-col-12 p-md-6 p-xl-4">
            <div class="card sellers">
                <div class="card-header">
                    <h6>Seller List</h6>
                </div>
                <ul>
                    <li>
                        <div class="seller">
                            <img src="assets/layout/images/dashboard/seller-1.png" alt="poseidon-layout" />
                            <p>Hector Mariano</p>
                        </div>
                        <span>Tier 1</span>
                        <p-rating [(ngModel)]="val2" readonly="true" stars="3"></p-rating>
                        <p-menu #menu1 [popup]="true" [model]="items"></p-menu>
                        <button type="button" pButton icon="pi pi-ellipsis-v"
                            class="p-button-secondary p-button-outlined" (click)="menu1.toggle($event)"></button>
                    </li>
                    <li>
                        <div class="seller">
                            <img src="assets/layout/images/dashboard/seller-2.png" alt="poseidon-layout" />
                            <p>Maria Illescas</p>
                        </div>
                        <span>Tier 2</span>
                        <p-rating [(ngModel)]="val2" readonly="true" stars="3"></p-rating>
                        <p-menu #menu2 [popup]="true" [model]="items"></p-menu>
                        <button type="button" pButton icon="pi pi-ellipsis-v"
                            class="p-button-secondary p-button-outlined" (click)="menu2.toggle($event)"></button>
                    </li>
                    <li>
                        <div class="seller">
                            <img src="assets/layout/images/dashboard/seller-3.png" alt="poseidon-layout" />
                            <p>Ngô Hải Giang</p>
                        </div>
                        <span>Tier 3</span>
                        <p-rating [(ngModel)]="val1" readonly="true" stars="3"></p-rating>
                        <p-menu #menu3 [popup]="true" [model]="items"></p-menu>
                        <button type="button" pButton icon="pi pi-ellipsis-v"
                            class="p-button-secondary p-button-outlined" (click)="menu3.toggle($event)"></button>
                    </li>
                    <li>
                        <div class="seller">
                            <img src="assets/layout/images/dashboard/seller-4.png" alt="poseidon-layout" />
                            <p>Tamas Bunce</p>
                        </div>
                        <span>Tier 4</span>
                        <p-rating [(ngModel)]="val1" readonly="true" stars="3"></p-rating>
                        <p-menu #menu4 [popup]="true" [model]="items"></p-menu>
                        <button type="button" pButton icon="pi pi-ellipsis-v"
                            class="p-button-secondary p-button-outlined" (click)="menu4.toggle($event)"></button>
                    </li>
                    <li>
                        <div class="seller">
                            <img src="assets/layout/images/dashboard/avatar-conan.png" alt="poseidon-layout" />
                            <p>Conan Matusov</p>
                        </div>
                        <span>Tier 4</span>
                        <p-rating [(ngModel)]="val1" readonly="true" stars="3"></p-rating>
                        <p-menu #menu5 [popup]="true" [model]="items"></p-menu>
                        <button type="button" pButton icon="pi pi-ellipsis-v"
                            class="p-button-secondary p-button-outlined" (click)="menu5.toggle($event)"></button>
                    </li>
                    <li>
                        <div class="seller">
                            <img src="assets/layout/images/dashboard/leader-4.png" alt="poseidon-layout" />
                            <p>Maria Illescas</p>
                        </div>
                        <span>Tier 4</span>
                        <p-rating [(ngModel)]="val1" readonly="true" stars="3"></p-rating>
                        <p-menu #menu6 [popup]="true" [model]="items"></p-menu>
                        <button type="button" pButton icon="pi pi-ellipsis-v"
                            class="p-button-secondary p-button-outlined" (click)="menu6.toggle($event)"></button>
                    </li>
                    <li>
                        <div class="seller">
                            <img src="assets/layout/images/dashboard/leader-3.png" alt="poseidon-layout" />
                            <p>Su Hua</p>
                        </div>
                        <span>Tier 4</span>
                        <p-rating [(ngModel)]="val1" readonly="true" stars="3"></p-rating>
                        <p-menu #menu7 [popup]="true" [model]="items"></p-menu>
                        <button type="button" pButton icon="pi pi-ellipsis-v"
                            class="p-button-secondary p-button-outlined" (click)="menu7.toggle($event)"></button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="p-col-12 p-md-6 p-xl-4">
            <div class="card tasks">
                <div class="card-header">
                    <h6>Tasks</h6>
                </div>
                <div>
                    <div class="task task-1">
                        <div class="task-info">
                            <div class="task-name"><span>12</span> Orders to fulfill</div>
                            <i class="pi pi-tag"></i>
                        </div>
                        <div class="task-progress">
                            <div></div>
                        </div>
                    </div>
                    <div class="task task-2">
                        <div class="task-info">
                            <div class="task-name"><span>40+</span> Payments to withdraw</div>
                            <i class="pi pi-money-bill"></i>
                        </div>
                        <div class="task-progress">
                            <div></div>
                        </div>
                    </div>
                    <div class="task task-3">
                        <div class="task-info">
                            <div class="task-name"><span>4</span> Reports to revise</div>
                            <i class="pi pi-file"></i>
                        </div>
                        <div class="task-progress">
                            <div></div>
                        </div>
                    </div>
                    <div class="task task-4">
                        <div class="task-info">
                            <div class="task-name"><span>6</span> Questions to respond</div>
                            <i class="pi pi-comment"></i>
                        </div>
                        <div class="task-progress">
                            <div></div>
                        </div>
                    </div>
                    <div class="task task-5">
                        <div class="task-info">
                            <div class="task-name"><span>2</span> Chargebacks to review</div>
                            <i class="pi pi-check-square"></i>
                        </div>
                        <div class="task-progress">
                            <div></div>
                        </div>
                    </div>
                    <div class="task task-1">
                        <div class="task-info">
                            <div class="task-name"><span>12</span> Orders to fulfill</div>
                            <i class="pi pi-tag"></i>
                        </div>
                        <div class="task-progress">
                            <div></div>
                        </div>
                    </div>
                    <div class="task task-2">
                        <div class="task-info">
                            <div class="task-name"><span>40+</span> Payments to withdraw</div>
                            <i class="pi pi-money-bill"></i>
                        </div>
                        <div class="task-progress">
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="p-col-12 p-xl-8">
            <div class="card sales">
                <div class="card-header">
                    <h4>Recent Sales</h4>
                    <p-dropdown [options]="orderWeek" [(ngModel)]="selectedOrderWeek" optionLabel="name"
                        (onChange)="recentSales($event)" styleClass="dashbard-demo-dropdown"
                        [ngStyle]="{'min-width': '8rem'}"></p-dropdown>
                </div>

                <p>Your sales activity over time.</p>


                <p-table [value]="products" [paginator]="true" [rows]="5" styleClass="p-datatable-customers">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="id">ID
                                <p-sortIcon field="id"></p-sortIcon>
                            </th>
                            <th pSortableColumn="category">Category
                                <p-sortIcon field="category"></p-sortIcon>
                            </th>
                            <th pSortableColumn="price">Price
                                <p-sortIcon field="price"></p-sortIcon>
                            </th>
                            <th pSortableColumn="inventoryStatus">Status
                                <p-sortIcon field="inventoryStatus"></p-sortIcon>
                            </th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>
                                <span class="p-column-title">Id</span>
                                {{product.id}}
                            </td>
                            <td>
                                <span class="p-column-title">Category</span>
                                {{product.category}}
                            </td>
                            <td>
                                <span class="p-column-title">Price</span>
                                {{product.price | currency:'USD'}}
                            </td>
                            <td>
                                <span class="p-column-title">Status</span>
                                <span
                                    [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
                            </td>
                            <td style="text-align: center">
                                <button pButton type="button" icon="pi pi-search"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>