<div class="layout-widgets">
    <div class="p-grid">
        <div class="p-col-12 p-md-12 p-xl-1"></div>
        <div class="p-col-12 p-md-12 p-xl-10">
            <div class="card profile">
                <div class="profile-header">
                    <img src="{{user?.image}}" alt="poseidon-layout" style="border-radius: 100px;" />
                </div>
                <div class="profile-content">
                    <h6>{{user?.name}}</h6>
                    <span>{{user?.profile}} 👑</span>
                    <p-button type="button" label="Follow {{user?.name}}"></p-button>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-md-12 p-xl-2"></div>
        <div class="p-col-12 p-md-12">
            <div class="pricing-card classic">
                <div class="pricing-header">
                    <span class="price">$0.00</span>
                    <h5>BEGINNER</h5>
                    <span>Good starting point for startups</span>
                </div>
                <div class="pricing-content">
                    <ul>
                        <li>Responsive</li>
                        <li>10 Support Tickets</li>
                        <li>Free Shipping</li>
                        <li class="not-included">Unlimited Space</li>
                        <li class="not-included">Push Messages</li>
                    </ul>
                    <p-button type="button" label="TRY FREE" class="p-button-info"></p-button>
                </div>

            </div>
        </div>
    </div>
</div>