<div class="layout-widgets">
    <div class="p-grid">
        <div class="p-col-12 p-md-12 p-xl-1"></div>
        <div class="p-col-12 p-md-12 p-xl-10">
            <div class="card profile">
                <div class="profile-header" style="background-image: url({{user?.background}});">
                    <img src="{{user?.image}}" alt="poseidon-layout" style="border-radius: 100px;" />
                </div>
                <div class="profile-content">
                    <h6>{{user?.name}}</h6>
                    <span>{{user?.profile}} 👑</span>
                    <p-button type="button" label="Go Home" routerLink="/home"></p-button>
                </div>
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-12 p-md-12 p-xl-1"></div>
        <div class="p-col-12 p-md-12 p-xl-10">
            <div class="pricing-card classic">
                <div class="pricing-header">
                    <div class="card p-fluid">
                        <h5>Pablo by {{user?.name}}</h5>
                        <div class="p-grid">
                            <div class="p-col-2"></div>
                            <div class="p-col-8">
                                {{user?.hate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pricing-content">
                    <ul>
                        <li>
                            <p-button type="button" label="SEE PICTURES" routerLink="/utilities/display"
                                class="p-button-danger">
                            </p-button>
                        </li>
                        <li>
                            <p-button type="button" label="TRY QUIZZ" routerLink="/pages/crud" class="p-button-info">
                            </p-button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>