<div class="card icons-demo">
	<h4>Icons</h4>

	<h5>Medias Pablo should watch by <b>me</b></h5>
	<p>Movies</p>

	<app-code lang="markup" ngPreserveWhitespaces ngNonBindable>
		O Turista <br>
		Ilha do medo <br>
		Fuja <br>
		Mother <br>
		1922 <br>
		Efeito Borboleta <br>
		O castelo animado <br>

	</app-code>

	<p>Series</p>

	<app-code lang="markup" ngPreserveWhitespaces ngNonBindable>
		How i met your mother <br>
		A Maldição da Mansão Bly<br>
		Missa da Meia-Noite <br>
		A Maldição da Residência Hill <br>
		Dark <br>
		Marianne <br>
		Stranger Things <br>
	</app-code>

	<p>Animes</p>

	<app-code lang="markup" ngPreserveWhitespaces ngNonBindable>
		One Piece <br>
		Demon Slayre <br>
		The Promised Neverland <br>
		Erased <br>
		Black Butter <br>
		Cowboy Bepop <br>
		Tenku Shinpai <br>

	</app-code>
</div>