<div class="login-body">
    <div class="login-wrapper">
        <div class="login-panel">
            <form [formGroup]="loginForm">
                <div class="login-form form-group">
                    <h2>Login To Pablo App</h2>
                    <h6>Try a new experience as a close person of Pablo</h6>
                    <input type="text" autocomplete="off" formControlName="login" pInputText placeholder="User">
                    <input type="password" autocomplete="off" formControlName="password" pInputText
                        placeholder="Password">
                    <div style="color: #de5757; margin-top: -1rem; margin-bottom: 1rem;font-size: 0.8rem;">
                        {{errorMessage}}
                    </div>
                    <button type="submit" pButton pRipple label="LOGIN" (click)="onSave()" type="button"></button>
                </div>
            </form>
        </div>
    </div>
</div>